/* popup */

.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    z-index: 99;
}

 .popup-effect:target {
    visibility: visible;
    opacity: 1;
 }

.popup {
    background: #fff;
    border-radius: 4px;
    max-width: 500px;
    position: relative;
    margin: 3em auto;
    padding: 3em 2em;
    z-index: 999;
    text-align: center;
    top: 30%;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #686de0;
 }
/* //popup */
