@{
    ViewBag.Title = "QrCode";
}

<div style="height:1000px">
    <div class="center">
        <img src="@ViewBag.QRCodeImage" style="height:300px;width:300px" />
    </div>
</div>
<script>setTimeout('window.location.replace("http://localhost:57707/Home/PayOK")', 20000)</script>
